<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiang.mapper.UseMapper">

    <resultMap id="userMap" type="com.qiang.model.User">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.qiang.model.Role">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <collection property="permissionSet" ofType="com.qiang.model.Permission">
                <id property="pid" column="pid"/>
                <result property="name" column="name"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selByName" parameterType="String" resultMap="userMap">
        select u.*, r.*, p.*
        from user u
        inner join user_role ur on u.uid = ur.uid
        inner join role r on r.rid = ur.rid
        inner join permission_role pr on pr.rid = r.rid
        inner join permission p on pr.pid = pr.pid
        where u.username = #{arg0}
    </select>
</mapper>